@using NTS.Domain.Setup.Entities;
@using Not.Services;

@inherits NotComponent



@{
    if (_parentBehind.Children.Any()) 
    { 
        <MudDataGrid T="Competition" Items="_parentBehind.Children" ReadOnly="true" Bordered="true" Dense="true">
            <ToolBarContent>
                <div class="grid-header">
                    <NotH2 Class="single-row-header">@Localizer.Get("Competitions")</NotH2>
                </div>
                <div class="toolbar-actions">
                    <NotButtonCreate OnClick="_competitionNavigator.Create" />
                </div>
            </ToolBarContent>
            <Columns>
                <PropertyColumn Property="x => x.Name" Title="@Localizer.Get("Name")" />
                <PropertyColumn Property="x => x.Type" Title="@Localizer.Get("Competition Type")" />
                <PropertyColumn Property="x => x.StartTime.DateTime" Title="@Localizer.Get("Start Time")"/>
                <PropertyColumn Property="x => x.Loops.Count" Title="@Localizer.Get("Laps Count")" />
                <PropertyColumn Property="x => x.Contestants.Count" Title="@Localizer.Get("Contestants Count")" />
                <TemplateColumn CellClass="action-column">
                    <CellTemplate>
                        <NotButtonDelete OnClick="() => _parentBehind.Delete(context.Item)" Class="action-button-top" />

                        <NotButtonUpdate OnClick="() => this._competitionNavigator.Update(COMPETITION_PAGE, context.Item)" />
                    </CellTemplate>
                </TemplateColumn>
            </Columns>
        </MudDataGrid>
    }
    else
    {
        <MudPaper Elevation="0">
            <div class="pa-6 no-data-template">
                <NotH2>@Localizer.Get("Competitions")</NotH2>
                <NotButtonCreate OnClick="_competitionNavigator.Create" Class="toolbar-button" />
                <p>@Localizer.Get("No competitions have been created for this event.")</p>
            </div>
        </MudPaper>
    }
}
@* the following styles must be exported to a css file, if the current layout of the Grid Components is approved *@
<style>
    .mud-table-toolbar{
        display:block;
    }
    .grid-header {
        display: flex;
        flex-direction: column;
        padding-top:10px;
    }
    .toolbar-actions{
        display:flex;
        margin-bottom: 10px;
    }
    .toolbar-button {
        margin-top: 5px;
        margin-bottom: 5px;
    }
    .action-button-top{
        margin-bottom:5px;
    }

</style>
@code {
    [Inject]
    private INotBehindParent<Competition> _parentBehind { get; set; } = default!;
    [Inject]
    private IFormNavigator<Competition, CompetitionForm> _competitionNavigator { get; set; } = default!;
}