@inherits StatefulComponent;

@using Core.Application.Services;
@using Core.Domain.AggregateRoots.Manager.Aggregates.Arrivelists;
@using Core.Models;
@using EMS.Witness.Common;
@using EMS.Witness.Services;
@inject IArrivelistService ArrivelistService;
@inject IDateService DateService;

<div class="row">
    <table class="table">
        <thead>
            <tr>
                <th>-</th>
                <th>#</th>
                <th>Name</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var arrive in this.ArrivelistService.Selected)
            {
                <tr>
                    <td>
                        <button class="btn btn-danger btn-table" @onclick="_ => this.ArrivelistService.Unselect(arrive)">-</button>
                    </td>
                    <td>@arrive.Number</td>
                    <td>@arrive.Name</td>
                    <td>
                        <button class="btn btn-success btn-table" @onclick="_ => this.ArrivelistService.Snapshot(arrive)">Snapshot</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<div class="row">
    <table class="table">
        <thead>
            <tr>
                <th>#</th>
                <th>Name</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var arrive in this.ArrivelistService.Arrivelist)
            {
                var isDisabled = this.ArrivelistService.Selected.Contains(arrive) ? true : false;
                <tr>
                    <td>@arrive.Number</td>
                    <td>@arrive.Name</td>
                    <td>@isDisabled</td>
                    <td>
                        <button class="btn btn-success btn-table" 
                                disabled=@isDisabled
                                @onclick="_ => this.ArrivelistService.Select(arrive)">Select</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

@code {
    protected override bool ShouldRender(object changedState)
    {
        return changedState == this.ArrivelistService.Arrivelist || changedState == this.ArrivelistService.Selected;
    }
}