@using NTS.Domain.Core.Abstractions
@using NTS.Domain.Core.Aggregates.Participations
@using NTS.Domain.Core.Events
@using NTS.Judge.Blazor.Pages.Dashboard;
@using NTS.Judge.Blazor.Ports
@using Not.Blazor.TM
@using Not.Concurrency
@using Not.Events

@inherits NotComponent

@* <MudButton OnClick="FlipAxis">Flip</MudButton> *@

<MudGrid Spacing="5" Style="margin-top:0;"> @* Necessary because Spacing does -40% margin style for some reason, which breaks the vertical layout *@
    <MudItem xs="10">
        <NotAutocomplete T="Participation" @bind-Value="_selectedParticipation" Search="Search" Class="mb-2 dashboard-autocomplete" />
    </MudItem>
    <MudItem xs="7">
        <table class="rtable @_axisClass">
            <thead>
            <tr>
                <th>Gate</th>
                <th>Start</th>
                <th>Arrive</th>
                <th>VetIn</th>
                <th>ReIn</th>
                <th>RI Time</th>
                <th>CRI Time</th>
                <th><strong>Out</strong></th>
                <th>Recovery</th>
                <th>Loop Time</th>
                <th>Phase Time</th>
                <th>Time</th>
                <th>Loop Avrg</th>
                <th>Phase Avrg</th>
                <th>Speed Avrg</th>
            </tr>
            </thead>
            <tbody>
                @foreach (var phase in _selectedParticipation?.Phases ?? Enumerable.Empty<Phase>())
                {
                    <tr>
                        <td>@phase.Gate.OrDefault()</td>
                        <td>@phase.StartTime.OrDefault()</td>
                        <td>@phase.ArriveTime.OrDefault()</td>
                        <td>@phase.InspectTime.OrDefault()</td>
                        <td>@phase.ReinspectTime.OrDefault()</td>
                        <td>@(phase.IsCRIRequested ? NullableExtensions.DEFAULT : phase.RequiredInspectionTime.OrDefault())</td>
                        <td>@(phase.IsCRIRequested ? phase.RequiredInspectionTime : NullableExtensions.DEFAULT)</td>
                        <td>@phase.OutTime.OrDefault()</td>
                        <td>@phase.RecoverySpan.OrDefault()</td>
                        <td>@phase.LoopSpan.OrDefault()</td>
                        <td>@phase.PhaseSpan.OrDefault()</td>
                        <td>@phase.Span.OrDefault()</td>
                        <td>@phase.AveregeLoopSpeed.OrDefault()</td>
                        <td>@phase.AveragePhaseSpeed.OrDefault()</td>
                        <td>@phase.AverageSpeed.OrDefault()</td>
                    </tr>
                }
            </tbody>
        </table>
    </MudItem>
    <MudItem xs="3">
        <MudChipSet SelectedChipChanged="SelectParticipation">
            @foreach (var grouping in _behind.ParticipationsByDistance)
            {
                <MudText Class="pl-4"><strong>@($"{grouping.Key} {@Localizer.Get("KM")}")</strong></MudText>
                <MudDivider />
                @foreach (var participation in grouping.OrderBy(x => x.Tandem.Number))
                {
                    var number = participation.Tandem.Number;
                    var color = participation.IsNotQualified ? Color.Error : Color.Primary;
                    <MudChip Text="@number.ToString()" Value="@number" Color="@color" Style="min-width: 1rem" /> // TODO: Update Mudblazor and use bind-Selected
                }
            }
        </MudChipSet>
    </MudItem>
</MudGrid>

@code {
    private const string FLIPPED_AXIS_CLASS = "rtable--flip";

    private string _axisClass = FLIPPED_AXIS_CLASS;
    private Participation? _selectedParticipation = default!;

    [Inject]
    private IParticipationBehind _behind { get; set; } = default!;

    protected override void OnInitialized()
    {
        _selectedParticipation = _behind.Participations.FirstOrDefault();
        Observe(_behind);
    }

    private Task<IEnumerable<Participation>> Search(string term)
    {
        if (string.IsNullOrEmpty(term))
        {
            return Task.FromResult(_behind.Participations);
        }
        var result = _behind.Participations.Where(x => x.ToString().ToLower().Contains(term.ToLower()));
        return Task.FromResult(result);
    }

    private void FlipAxis()
    {
        if (_axisClass == FLIPPED_AXIS_CLASS)
        {
            _axisClass = "";
        }
        else
        {
            _axisClass = FLIPPED_AXIS_CLASS;
        }
    }

    private void SelectParticipation(MudChip? chip)
    {
        // TODO: Update MudBlazor version since docs show a new Property SelectionMode, 
        // which can prevent the current behavior that allows to Toggle the selection off
        if (chip == null)
        {
            return;
        }
        _selectedParticipation = _behind.Participations.FirstOrDefault(x => x.Tandem.Number == (int)chip.Value);
        GuardHelper.ThrowIfDefault(_selectedParticipation);
    }
}

<style>
    .dashboard-autocomplete input {
        font-size: 1.5rem !important;
    }
    .dashboard-autocomplete label {
        font-size: 1.25rem !important;
    }

    /*!
    // CSS only Responsive Tables
    // http://dbushell.com/2016/03/04/css-only-responsive-tables/
    // by David Bushell
    */

    .rtable {
      /*!
      // IE needs inline-block to position scrolling shadows otherwise use:
      // display: block;
      // max-width: min-content;
      */
        display: inline-block;
        vertical-align: top;
        max-width: 100%;
        overflow-x: auto;
        // optional - looks better for small cell values white-space: nowrap;
        border-collapse: collapse;
        border-spacing: 0;
    }

    .rtable,
    .rtable--flip tbody {
        /* optional - enable iOS momentum scrolling -webkit-overflow-scrolling: touch;
        // scrolling shadows background: radial-gradient(left, ellipse, rgba(0,0,0, .2) 0%, rgba(0,0,0, 0) 75%) 0 center, radial-gradient(right, ellipse, rgba(0,0,0, .2) 0%, rgba(0,0,0, 0) 75%) 100% center;
        */
        background-size: 10px 100%, 10px 100%;
        background-attachment: scroll, scroll;
        background-repeat: no-repeat;
    }

        /* change these gradients from white to your background colour if it differs
        // gradient on the first cells to hide the left shadow
        */
        .rtable td:first-child,
        .rtable--flip tbody tr:first-child {
            background-image: linear-gradient(to right, rgba(255,255,255, 1) 50%, rgba(255,255,255, 0) 100%);
            background-repeat: no-repeat;
            background-size: 20px 100%;
        }

        /* gradient on the last cells to hide the right shadow */
        .rtable td:last-child,
        .rtable--flip tbody tr:last-child {
            background-image: linear-gradient(to left, rgba(255,255,255, 1) 50%, rgba(255,255,255, 0) 100%);
            background-repeat: no-repeat;
            background-position: 100% 0;
            background-size: 20px 100%;
        }

        .rtable th {
            font-size: 11px;
            text-align: left;
            text-transform: uppercase;
            background: #f2f0e6;
        }

        .rtable th,
        .rtable td {
            padding: 6px 12px;
            border: 1px solid #d9d7ce;
            min-width: 110px;
        }

    .rtable--flip {
        display: flex;
        overflow: hidden;
        background: none;
    }

        .rtable--flip thead {
            display: flex;
            flex-shrink: 0;
            min-width: min-content;
        }

        .rtable--flip tbody {
            display: flex;
            position: relative;
            overflow-x: auto;
            overflow-y: hidden;
        }

        .rtable--flip tr {
            display: flex;
            flex-direction: column;
            min-width: min-content;
            flex-shrink: 0;
        }

        .rtable--flip td,
        .rtable--flip th {
            display: block;
        }

        .rtable--flip td {
            background-image: none !important;
            /* border-collapse is no longer active border-left: 0; */
        }

            /* border-collapse is no longer active */
            .rtable--flip th:not(:last-child),
            .rtable--flip td:not(:last-child) {
                border-bottom: 0;
            }

    /*!
    // CodePen house keeping
    */

    body {
        margin: 0;
        padding: 25px;
        color: #494b4d;
        font-size: 14px;
        line-height: 20px;
    }

    h1, h2, h3 {
        margin: 0 0 10px 0;
        color: #1d97bf;
    }

    h1 {
        font-size: 25px;
        line-height: 30px;
    }

    h2 {
        font-size: 20px;
        line-height: 25px;
    }

    h3 {
        font-size: 16px;
        line-height: 20px;
    }

    table {
        margin-bottom: 30px;
    }

    a {
        color: #ff6680;
    }

    code {
        background: #fffbcc;
        font-size: 12px;
    }
</style>