@using NTS.Domain.Core.Entities.ParticipationAggregate
@using NTS.Judge.Blazor.Pages.Dashboard.Phases
@using Not.Blazor.TM.Dialogs

@inherits NotComponent

<table class="rtable mt-6 @_axisClass">
    <thead>
        <tr>
            <MudButton Variant="Variant.Text" Disabled="true">#@Number</MudButton>

            <th>Start</th>
            <th>Arrive</th>
            <th>Present</th>

            @if (_anyRepresentation)
            {
                <th>Represent</th>
            }
            @if (_anyRequiredInspection)
            {
                <th>RI Time</th>
            }
            @if (_anyCompulsoryRequiredInspection)
            {
                <th>CRI Time</th>
            }

            <th>Recovery</th>
            <th>Loop T</th>
            <th>Phase T</th>
            <th>Loop S</th>
            <th>Phase S</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var phase in Phases ?? Enumerable.Empty<Phase>())
        {
            <tr>
                <MudTooltip Text="@Localizer.Get("Edit times")" Inline="false" RootStyle="width:inherit;">
                    <MudButton Variant="Variant.Text" OnClick="() => ShowUpdate(phase)">@phase.Gate</MudButton>
                </MudTooltip>

                <TableData Value="@phase.StartTime" />
                <TableData Value="@phase.ArriveTime" />
                <TableData Value="@phase.PresentTime" />

                @if (_anyRepresentation)
                {
                    <TableData Value="@phase.RepresentTime" />
                }
                @if (_anyRequiredInspection)
                {
                    <TableData Value="@(phase.IsRequiredInspectionRequested ? phase.GetRequiredInspectionTime() : null)" />
                }
                @if (_anyCompulsoryRequiredInspection)
                {
                    <TableData Value="@(phase.IsRequiredInspectionCompulsory ? phase.GetRequiredInspectionTime() : null)" />
                }

                <TableData Value="@phase.GetRecoverySpan()" />
                <TableData Value="@phase.GetLoopSpan()" />
                <TableData Value="@phase.GetPhaseSpan()" />
                <TableData Value="@phase.GetAverageLoopSpeed()" />
                <TableData Value="@phase.GetAveragePhaseSpeed()" />
            </tr>
        }
    </tbody>
</table>

@code {
    const string FLIPPED_AXIS_CLASS = "rtable--flip";
    string _axisClass = FLIPPED_AXIS_CLASS;
    bool _anyRepresentation;
    bool _anyRequiredInspection;
    bool _anyCompulsoryRequiredInspection;

    [Inject]
    DialogTM<PhaseUpdateModel, PhaseForm> _dialog { get; set; } = default!;

    [Parameter, EditorRequired]
    public int Number { get; set; }
    [Parameter]
    public PhaseCollection? Phases { get; set; }

    protected override void OnParametersSet()
    {
        _anyRepresentation = Phases != null && Phases.Any(x => x.IsReinspectionRequested);
        _anyRequiredInspection = Phases != null && Phases.Any(x => x.IsRequiredInspectionRequested);
        _anyCompulsoryRequiredInspection = Phases != null && Phases.Any(x => x.IsRequiredInspectionCompulsory);
    }

    private void FlipAxis()
    {
        if (_axisClass == FLIPPED_AXIS_CLASS)
        {
            _axisClass = "";
        }
        else
        {
            _axisClass = FLIPPED_AXIS_CLASS;
        }
    }

    async Task ShowUpdate(Phase phase)
    {
        var model = new PhaseUpdateModel(phase);
        await _dialog.RenderUpdate(model);
        await Render();
    }
}

@* // TODO: extract styles in tableflip.css :DD *@
<style>
    /*!
        // CSS only Responsive Tables
        // http://dbushell.com/2016/03/04/css-only-responsive-tables/
        // by David Bushell
        */
    .rtable {
        /*!
          // IE needs inline-block to position scrolling shadows otherwise use:
          // display: block;
          // max-width: min-content;
          */
        display: inline-block;
        vertical-align: top;
        max-width: 100%;
        overflow-x: auto;
        // optional - looks better for small cell values white-space: nowrap;
        border-collapse: collapse;
        border-spacing: 0;
    }

    .rtable,
    .rtable--flip tbody {
        /* optional - enable iOS momentum scrolling -webkit-overflow-scrolling: touch;
            // scrolling shadows background: radial-gradient(left, ellipse, rgba(0,0,0, .2) 0%, rgba(0,0,0, 0) 75%) 0 center, radial-gradient(right, ellipse, rgba(0,0,0, .2) 0%, rgba(0,0,0, 0) 75%) 100% center;
            */
        background-size: 10px 100%, 10px 100%;
        background-attachment: scroll, scroll;
        background-repeat: no-repeat;
    }

        /* change these gradients from white to your background colour if it differs
            // gradient on the first cells to hide the left shadow
            */
        .rtable td:first-child,
        .rtable--flip tbody tr:first-child {
            background-image: linear-gradient(to right, rgba(255,255,255, 1) 50%, rgba(255,255,255, 0) 100%);
            background-repeat: no-repeat;
            background-size: 20px 100%;
        }

        /* gradient on the last cells to hide the right shadow */
        .rtable td:last-child,
        .rtable--flip tbody tr:last-child {
            background-image: linear-gradient(to left, rgba(255,255,255, 1) 50%, rgba(255,255,255, 0) 100%);
            background-repeat: no-repeat;
            background-position: 100% 0;
            background-size: 20px 100%;
        }

        .rtable th {
            text-align: left;
            background: #f2f0e6;
            font-weight: normal;
        }

        .rtable th,
        .rtable td {
            padding: 6px 12px;
            border: 1px solid #d9d7ce;
        }

    .rtable--flip {
        display: flex;
        overflow: hidden;
        background: none;
    }

        .rtable--flip thead {
            display: flex;
            flex-shrink: 0;
            min-width: min-content;
        }

        .rtable--flip tbody {
            display: flex;
            position: relative;
            overflow-x: auto;
            overflow-y: hidden;
        }

        .rtable--flip tr {
            display: flex;
            flex-direction: column;
            min-width: min-content;
            flex-shrink: 0;
        }

        .rtable--flip td,
        .rtable--flip th {
            display: block;
        }

        .rtable--flip td {
            background-image: none !important;
            /* border-collapse is no longer active border-left: 0; */
        }

            /* border-collapse is no longer active */
            .rtable--flip th:not(:last-child),
            .rtable--flip td:not(:last-child) {
                border-bottom: 0;
            }
</style>
