@using NTS.Domain.Core.Aggregates.Participations
@using NTS.Domain.Objects
@using NTS.Judge.Blazor.Enums
@using NTS.Judge.Blazor.Ports
@using Not.Structures

@inherits NotComponent

<MudSelect @ref="multiSelect" T="string" Label="Failed to Qualify Reason" MultiSelection="true" Delimiter="+" Value="@FTQReason" Placeholder="Select a reason">
    @foreach (var failToQualifyCode in SelectListModel.SelectList<FTQCodes>())
    {
        <MudSelectItem T="string" Value="@failToQualifyCode.Value">
            @failToQualifyCode.Value
            <div class="font-size-10">@failToQualifyCode.Description</div>
        </MudSelectItem>
    }
</MudSelect>
<MudCollapse Expanded="_reasonInputActive">
    <MudTextField @ref="reasonInput" @bind-Value="Reason" Label="Reason" Variant="Variant.Outlined"></MudTextField>
</MudCollapse>


<MudButton Class="mt-4 one-third-width" Variant="Variant.Filled" Color="Color.Primary" OnClick="Revoke">
    @Localizer.Get("Eliminate")
</MudButton>

<MudButton Class="mt-4 one-third-width" Variant="Variant.Filled" Color="Color.Primary" OnClick="Restore">
    @Localizer.Get("Restore")
</MudButton>

@code {
    [Inject]
    IParticipationBehind _participationBehind { get; set; } = default!;
    [Parameter]
    public FailedToQualify? FailedToQualify { get; set; }
    [Parameter]
    public EventCallback OnSubmission { get; set; }

    private string? FTQReason
    {
        get => FailedToQualify != null ? ParseFTQCodesToString(FailedToQualify!.Codes) : _value;
        set { _value = value; }
    }
    private string? _value;
    public string? Reason 
    { 
        get => FailedToQualify != null && FailedToQualify.Codes != null ? FailedToQualify.Complement : _reasonValue;
        set { _reasonValue = value; }
    }
    private string? _reasonValue;
    private bool _reasonInputActive => FTQReason != null ? FTQReason.Contains("FTC") : false;
    private MudTextField<string?> reasonInput = default!;
    private MudSelect<string> multiSelect = default!;

    public async Task Revoke()
    {
        Participation? participation = _participationBehind.SelectedParticipation;
        var tandemNumber = participation!.Tandem.Number;
        var selectedValues = multiSelect.SelectedValues;
        var reason = reasonInput.Value;
        List<FTQCodes> codes = new List<FTQCodes>();
        foreach (var value in selectedValues)
        {
            codes.Add((FTQCodes)Enum.Parse(typeof(FTQCodes), value));
        }
        if (codes.Contains(FTQCodes.FTC))
        {
            await _participationBehind.RevokeQualification(tandemNumber, QualificationRevokeType.FailToCompleteLoop, reason, codes.ToArray());
        }
        else
        {
            await _participationBehind.RevokeQualification(tandemNumber, QualificationRevokeType.FailToQualify, null, codes.ToArray());
        }
    }

    public async Task Restore()
    {
        Participation? participation = _participationBehind.SelectedParticipation;
        var tandemNumber = participation!.Tandem.Number;
        await OnSubmission.InvokeAsync();
        await _participationBehind.RestoreQualification(tandemNumber);
    }

    public string ParseFTQCodesToString(IEnumerable<FTQCodes> FTQ_codes)
    {
        string parsedCodes = "";
        var codesCount = FTQ_codes.Count();
        for(int i = 0; i < codesCount; i++)
        {
            var code = FailedToQualify?.Codes.ElementAt(i);
            if (i == 0 || i == codesCount - 1)
            {
                parsedCodes += code.ToString();
            }
            else
            {
                parsedCodes += code.ToString() + "+";
            }
        }
        return parsedCodes;
    }
}
