
<ExceptionHandler T="Strings" @ref="this.exceptionHandler">
    <ChildContent>
        <Router AppAssembly="@typeof(Main).Assembly">
            <Found Context="routeData">
                <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
                <FocusOnNavigate RouteData="@routeData" Selector="h1" />
            </Found>
            <NotFound>
                <LayoutView Layout="@typeof(MainLayout)">
                    <p role="alert">Sorry, there's nothing at this address.</p>
                </LayoutView>
            </NotFound>
        </Router>
    </ChildContent>

    <ErrorContent>
        <br />
        <br />
        <div class="container">
            <p>@this.exceptionHandler.LocalizedMessage</p>
            <p>@this.exceptionHandler.StackTrace</p>
        </div>
        <button class="btn btn-primary" @onclick="_ => this.exceptionHandler.Recover()">Back</button>
    </ErrorContent>
</ExceptionHandler>

@code {
    private ExceptionHandler<Strings> exceptionHandler = default!;
}