@using NTS.Judge.Blazor.Ports
<h3>InspectionsPanel</h3>


    <MudPaper Class="@("d-flex flex-row mb-4 ")" Elevation="0">
        <NotSwitch Label="Reinspection" Value="ReinspectionToggled" ValueChanged="ToggleReinspection" 
                   IconForTrue="@Icons.Material.Filled._360" IconForFalse="@Icons.Material.Filled._360" />
        <NotSwitch Label="Required Inspection" Value="RequiredInspectionToggled" ValueChanged="ToggleRequiredInspection"
                   IconForTrue="@Icons.Material.Filled.HourglassEmpty" IconForFalse="@Icons.Material.Filled.HourglassEmpty" />
    </MudPaper>

@code {
    [Inject]
    IParticipationBehind _participationBehind { get; set; } = default!;
    private bool ReinspectionToggled = false;
    private bool RequiredInspectionToggled = false;

    private async void ToggleReinspection(bool value)
    {
        ReinspectionToggled = value;
        _participationBehind.SelectedParticipation?.RequestReinspection(value);
        await InvokeAsync(StateHasChanged); // TODO test without as it should re-render on its own
    }
    private async void ToggleRequiredInspection(bool value)
    {
        RequiredInspectionToggled = value;
        _participationBehind.SelectedParticipation?.RequestRequiredInspection(value);
        await InvokeAsync(StateHasChanged); // TODO test without
    }
}
